<div class="row content" ng-show="tab.isSet('photos')">
	<div class="col-md-9 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{locale.getLocalizedString('photos', 'mapPhotos')}}</h3>
            </div>
            <div class="panel-body">
                <p>
                    {{locale.getLocalizedString('photos', 'technologies')}}
                    {{locale.getLocalizedString('photos', 'animation')}}
                    {{locale.getLocalizedString('photos', 'clickAnyAlbum')}}<br/><br/>
                    {{locale.getLocalizedString('photos', 'states')}}
                    <a target="_blank" href="http://m.maploco.com/visited-states/mine.php?states=AZ-CA-CO-CT-FL-HI-ID-IL-LA-MT-NM-NV-NY-OR-UT-WA-WY">
                        {{locale.getLocalizedString('common', 'clickHere')}}
                    </a>
                    <br/><br/>
                    {{locale.getLocalizedString('photos', 'countries')}}
                    <a target="_blank" href="http://matadornetwork.com/travel-map/61a2f4f9405c03987cb2ee720d7f5164-1417329757">
                        {{locale.getLocalizedString('common', 'clickHere')}}
                    </a>
                </p>
                <div class="img-responsive" id="photo-map-canvas"> </div>

                <div class="alert alert-warning hidden-sm hidden-xs" role="alert">
                    {{locale.getLocalizedString('photos', 'upToDateWebBrowser')}}
                </div>
            </div>
        </div>
	</div>
	<div class="col-md-3 hidden-sm hidden-xs">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{locale.getLocalizedString('photos', 'albumPhotosSectionTitle')}}</h3>
			</div>
			<div class="panel-body">
                <ul class="list-sm-margin">
                    <li ng-click="photoCtrl.showAlbum('tahoe')">
                        <a href="javascript:void(0)">Lake Tahoe, CA</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('sf')">
                        <a href="javascript:void(0)">San Francisco, CA</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('nyc')">
                        <a href="javascript:void(0)">New York City, NY</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('oregon')">
                        <a href="javascript:void(0)">Oregon</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('chicago')">
                        <a href="javascript:void(0)">Chicago, IL</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('seattle')">
                        <a href="javascript:void(0)">Seattle, WA</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('maui')">
                        <a href="javascript:void(0)">Maui, HI</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('sandiego')">
                        <a href="javascript:void(0)">San Diego, CA</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('lasvegas');">
                        <a href="javascript:void(0)">Las Vegas, NV</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('nola')">
                        <a href="javascript:void(0)">New Orleans, LA</a>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</div>