<div class="row content" ng-show="tab.isSet('photos')">
	<div class="col-md-9 col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{locale.getLocalizedString('photos', 'mapPhotos')}}</h3>
            </div>
            <div class="panel-body">
                <p>
                    {{locale.getLocalizedString('photos', 'technologies')}}
                    {{locale.getLocalizedString('photos', 'animation')}}
                    {{locale.getLocalizedString('photos', 'clickAnyAlbum')}}<br/><br/>
                    {{locale.getLocalizedString('photos', 'states')}}
                    <a target="_blank" href="http://m.maploco.com/visited-states/mine.php?states=AZ-CA-CO-CT-FL-HI-ID-IL-KY-LA-MA-MT-NM-NV-NY-OR-TN-TX-UT-VT-WA-WV-WY">
                        {{locale.getLocalizedString('common', 'clickHere')}}
                    </a>
                    <br/><br/>
                    {{locale.getLocalizedString('photos', 'countriesbahamas')}}
                    <img src="img/blank.gif" class="flag flag-bs" alt="Bahamas" />
                    {{locale.getLocalizedString('photos', 'canada')}}
                    <img src="img/blank.gif" class="flag flag-ca" alt="Canada" />
                    {{locale.getLocalizedString('photos', 'cz')}}
                    <img src="img/blank.gif" class="flag flag-cz" alt="Czech Republic" />
                    {{locale.getLocalizedString('photos', 'colombia')}}
                    <img src="img/blank.gif" class="flag flag-co" alt="Colombia" />
                    {{locale.getLocalizedString('photos', 'france')}}
                    <img src="img/blank.gif" class="flag flag-fr" alt="France" />
                    {{locale.getLocalizedString('photos', 'hungary')}}
                    <img src="img/blank.gif" class="flag flag-hu" alt="Hungary" />
                    {{locale.getLocalizedString('photos', 'india')}}
                    <img src="img/blank.gif" class="flag flag-in" alt="India" />
                    {{locale.getLocalizedString('photos', 'indonesia')}}
                    <img src="img/blank.gif" class="flag flag-id" alt="Indonesia" />
                    {{locale.getLocalizedString('photos', 'italy')}}
                    <img src="img/blank.gif" class="flag flag-it" alt="Italy" />
                    {{locale.getLocalizedString('photos', 'mexico')}}
                    <img src="img/blank.gif" class="flag flag-mx" alt="Mexico" />
                    {{locale.getLocalizedString('photos', 'newcaledonia')}}
                    <img src="img/blank.gif" class="flag flag-nc" alt="New Caledonia" />
                    {{locale.getLocalizedString('photos', 'singapore')}}
                    <img src="img/blank.gif" class="flag flag-sg" alt="Singapore" />
                    {{locale.getLocalizedString('photos', 'spain')}}
                    <img src="img/blank.gif" class="flag flag-es" alt="Spain" />
                    {{locale.getLocalizedString('photos', 'uk')}}
                    <img src="img/blank.gif" class="flag flag-gb" alt="United Kingdom" />
                    {{locale.getLocalizedString('photos', 'usa')}}
                    <img src="img/blank.gif" class="flag flag-us" alt="United States of America" />
                    {{locale.getLocalizedString('photos', 'countrieslink')}}
                    <a target="_blank" href="http://matadornetwork.com/travel-map/61a2f4f9405c03987cb2ee720d7f5164-1417329757">
                        {{locale.getLocalizedString('common', 'clickHere')}}
                    </a>
                </p>
                <div class="img-responsive" id="photo-map-canvas"> </div>

                <div class="alert alert-warning hidden-sm hidden-xs" role="alert">
                    {{locale.getLocalizedString('photos', 'upToDateWebBrowser')}}
                </div>
            </div>
        </div>
	</div>
	<div class="col-md-3 hidden-sm hidden-xs">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">{{locale.getLocalizedString('photos', 'albumPhotosSectionTitle')}}</h3>
			</div>
			<div class="panel-body">
                <ul class="list-sm-margin">
                    <li ng-click="photoCtrl.showAlbum('tahoe')">
                        <a href="javascript:void(0)">Lake Tahoe, CA</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('sf')">
                        <a href="javascript:void(0)">San Francisco, CA</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('nyc')">
                        <a href="javascript:void(0)">New York City, NY</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('oregon')">
                        <a href="javascript:void(0)">Oregon</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('chicago')">
                        <a href="javascript:void(0)">Chicago, IL</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('seattle')">
                        <a href="javascript:void(0)">Seattle, WA</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('maui')">
                        <a href="javascript:void(0)">Maui, HI</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('sandiego')">
                        <a href="javascript:void(0)">San Diego, CA</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('lasvegas');">
                        <a href="javascript:void(0)">Las Vegas, NV</a>
                    </li>
                    <li ng-click="photoCtrl.showAlbum('nola')">
                        <a href="javascript:void(0)">New Orleans, LA</a>
                    </li>
                </ul>
			</div>
		</div>
	</div>
</div>